npm-debug.log
node_modules/
dist/*
!dist/.gitkeep
lib/
coverage/
tmp/
.DS_Store
.idea
yarn-error.log
dll/
lazzzy_extention_chrome.zip
lazzzy_extention_firefox.zip
lazzzy-extension.zip
.now
release
yarn.lock
package-lock.json
.eslintcache
