@import '~antd/es//style/themes/default.less';

.main-container {
  position: fixed;
  right: 10px;
  top: 10px;
  box-shadow: rgb(0 0 0 / 20%) 0 0 12px 0;
}

.tool-container {
  width: 324px;
  height: auto;
  background: #fff;
  padding: 10px;
}

.close-button {
  position: absolute;
  right: 10px;
  top: 10px;
  cursor: pointer;
}

.center-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.editor-container {
  position: absolute;
  right: 350px;
  top: 0;
  box-shadow: rgb(0 0 0 / 20%) 0 0 12px 0;
  border: 2px solid #ddd;
}

.mask {
  position: fixed;
  right: 0;
  top: 0;
  bottom: 0;
  left: 0;
  background: @modal-mask-bg;
}
